# Secrets
.env

# npm
.npm
node_modules/

# Docker
compose-dev.yaml

# Build
build/
dist/

# Backups
backups/

# Scripts
Makefile
scripts/sync-compose.sh

# OS
.DS_Store

# Build files
src/**/*.{jpg,jpeg,png,webp}
src/portraits/
src/media/
src/assets/
